DATABASE_URL='postgresql://postgres:123@localhost:5432/workout-tracker-db?schema=public'
JWT_SECRET='change_me_in_production_to_a_secure_random_string'








# PostgreSQL Configuration
POSTGRES_DB=workout-tracker-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C

# Container Configuration
POSTGRES_CONTAINER_NAME=workout-tracker-postgres

# Port Configuration
POSTGRES_PORT=5432

# Data Storage Configuration
POSTGRES_DATA_PATH=/var/lib/postgresql

# Volume Configuration
POSTGRES_VOLUME_NAME=postgres_data

# Network Configuration
POSTGRES_NETWORK_NAME=postgres_network
